<html>

<head>
    <title>Welcome to Metro</title>
</head>

<body bgcolor="antiquewhite">
<h1 align="center">Welcome to Metro</h1>

<p align="center" style="font-size: 1.5em">Welcome to Metro, a city-building game!  To get started, tell use the name of your city:</p>
<div style="text-align: center; font-size: 1.5em">
<form action="foundation" method="POST">
<input type="text" name="cityname" />
<button type="submit">Let's go!</button>
</form>
</div>

</body>
</html>