<div id="controller">
    <div id="overview">
    <b><%=city.name%> statistics:</b><br/>
    City coffers hold $<%=city.cash%>.<br/><br/>
    <%- include('stockpile') %>
    </div>
    <div id="districtviewpanel"></div>
</div>