<div id="controller">
    <b><%=city.name%> statistics:</b><br/>
    City coffers hold $<%=city.cash%>.<br/><br/>
    <%- include('stockpile') %>
    <br/><br/>
    <ul>
        <li><a align="center" href="/cities/">Conduct diplomacy.</a></li>
    </ul>
    <div id="districtviewpanel"></div>
</div>