<table style="text-transform:capitalize">
    <tr><th colspan="3">Resources</th></tr>

    <% city.reserves.forEach((resource)=>{ %>
        <tr>
            <td><%=resource.type%></td>
            <td>. . . . . .&nbsp;&nbsp;</td>
            <td><%=resource.amount%></td>
        </tr>
    <% }) %>
</table>