<html>

<head>
    <title>Welcome to Metro</title>
</head>

<body bgcolor="antiquewhite">
<h1 align="center">Welcome to Metro</h1>

<p align="center" style="font-size: 1.5em">Welcome to Metro, a city-building game!  To get started, tell us the name of your city:</p>
<div style="text-align: center; font-size: 1.5em">
<form action="foundation" method="POST">
<input type="text" name="name" />
<p align="center">And how would you like to be known as mayor?  It can be the same as or different from your username.</p>
<input type="text" name="mayor" /><br/><br/>
<button type="submit">Let's get to work!</button>
</form>
</div>

</body>
</html>